.env
*.DS_Store
cov/
cov.lcov
.idea
_fresh/
backup.json
html_cov/
coverage/
node_modules

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml


# Fresh build directory
_fresh/
