---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";

export const prerender = false;
---

<Layout title="Forgot Password">
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <Card className="w-full max-w-md bg-white">
            <CardHeader>
                <CardTitle
                    className="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-center"
                    >Reset Password</CardTitle
                >
                <CardDescription className="text-center"
                    >Enter your email to receive a password reset link</CardDescription
                >
            </CardHeader>
            <CardContent>
                <form id="forgot-password-form" class="space-y-4">
                    <div class="space-y-2">
                        <Label htmlFor="email">Email</Label>
                        <Input type="email" name="email" id="email" required />
                    </div>
                    <Button type="submit" className="w-full"
                        >Send Reset Link</Button
                    >
                </form>
            </CardContent>
            <CardFooter className="flex justify-center">
                <p class="text-sm">
                    Remember your password? <a
                        class="text-sm text-blue-600 hover:underline"
                        href="/signin">Sign in</a>
                </p>
            </CardFooter>
        </Card>
    </div>
</Layout>

<script>
    import { getAuth, sendPasswordResetEmail } from "firebase/auth";
    import { app } from "../firebase/client";

    const auth = getAuth(app);

    const form = document.getElementById(
        "forgot-password-form",
    ) as HTMLFormElement;
    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const email = formData.get("email")?.toString();

        if (!email) {
            alert("Please enter your email address.");
            return;
        }

        try {
            await sendPasswordResetEmail(auth, email);
            alert("Password reset email sent. Please check your inbox.");
            // Optionally redirect to signin page or show a success message
        } catch (error: any) {
            console.error("Error sending password reset email:", error);
            alert(error.message || "An error occurred. Please try again.");
        }
    });
</script>
