---
import CardWithBackgroundImage from "../components/CardWithBackgroundImage.tsx";
import ApplicationButtons from "../components/ApplicationButtons.tsx";
import DocumentationHeader from "../components/DocumentationHeader.tsx";
---
<html lang="en">
  <head>
    <title>Press Kit - FashionUnited</title>
  </head>
  <body>
    <h1>Press Kit</h1>

    <DocumentationHeader title="Press Kit" active="/" />

    <ApplicationButtons />
    <CardWithBackgroundImage />
  </body>
</html>
