---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";

/* Check if the user is authenticated */
const auth = getAuth(app);
if (Astro.cookies.has("__session")) {
    const sessionCookie = Astro.cookies.get("__session")?.value;
    if (sessionCookie) {
        const decodedCookie = await auth.verifySessionCookie(sessionCookie);
        if (decodedCookie) {
            return Astro.redirect("/dashboard");
        }
    }
}

export const prerender = false;
---

<Layout title="Sign in">
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <Card className="w-full max-w-md bg-white">
            <CardHeader>
                <CardTitle
                    className="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-center"
                    >Sign in</CardTitle
                >
                <CardDescription className="text-center"
                    >Enter your credentials to access your account</CardDescription
                >
            </CardHeader>
            <CardContent>
                <!-- <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
    Sign in</h1>
  <p>New here? <a href="/register">Create an account</a></p> -->
                <form action="/api/auth/signin" method="post" class="space-y-4">
                    <div class="space-y-2">
                        <Label htmlFor="email">Email</Label>
                        <Input type="email" name="email" id="email" />
                    </div>
                    <div class="space-y-2">
                        <Label htmlFor="password">Password</Label>
                        <Input type="password" name="password" id="password" />
                    </div>
                    <Button type="submit" className="w-full">Login</Button>
                </form>
            </CardContent>
            <CardFooter className="flex justify-center">
                <p class="text-sm">
                    New here? <a
                        class="text-sm text-blue-600 hover:underline"
                        href="/register">Create an account</a
                    >
                </p>
                <p>
                    <a
                        href="/forgot-password"
                        class="text-sm text-blue-600 hover:underline"
                    >
                        Forgot password?
                    </a>
                </p>
            </CardFooter>
        </Card>
    </div>
    <script>
        import {
            getAuth,
            inMemoryPersistence,
            signInWithEmailAndPassword,
        } from "firebase/auth";
        import { app } from "../firebase/client";

        const auth = getAuth(app);
        // This will prevent the browser from storing session data
        auth.setPersistence(inMemoryPersistence);

        const form = document.querySelector("form") as HTMLFormElement;
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const email = formData.get("email")?.toString();
            const password = formData.get("password")?.toString();

            if (!email || !password) {
                return;
            }
            const userCredential = await signInWithEmailAndPassword(
                auth,
                email,
                password,
            );
            const idToken = await userCredential.user.getIdToken();
            const response = await fetch("/api/auth/signin", {
                method: "GET",
                headers: {
                    Authorization: `Bearer ${idToken}`,
                },
            });

            if (response.redirected) {
                window.location.assign(response.url);
            }
        });
    </script>
</Layout>
