---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>developer.fashionunited.com</title>
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>
