name: Deploy
on:
  push:
    branches: [main]
  pull_request:
    branches: main

env:
  PROJECT_ID: 'developer-fashionunited-com'
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install, build, and upload your site output
        uses: withastro/action@v2
        with:
            # path: . # The root location of your Astro project inside the repository. (optional)
            node-version: 20 # The specific version of Node that should be used to build your site. Defaults to 18. (optional)
            package-manager: pnpm@10
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: astro-dist
          path: dist

  # deploy:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   environment:
  #     name: github-pages
  #     url: ${{ steps.deployment.outputs.page_url }}
  #   steps:
  #     - name: Deploy to GitHub Pages
  #       id: deployment
  #       uses: actions/deploy-pages@v3


  deploy-folder-to-gcs-bucket:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    
    steps:
    - id: 'checkout'
      uses: 'actions/checkout@v4'
    
    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        project_id: ${{ env.PROJECT_ID }}
        workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
    
    - name: download-artifact
      uses: actions/download-artifact@v5
      with:
        name: astro-dist
        path: dist
    
    - id: 'upload-folder'
      uses: 'google-github-actions/upload-cloud-storage@v2'
      with:
        path: 'dist'
        destination: 'developer.fashionunited.com'
        parent: false # upload to root
    
    #     # Example of using the output
    # - id: 'uploaded-files'
    #   uses: 'foo/bar@v1'
    #   env:
    #     files: '${{ steps.upload-folder.outputs.uploaded }}'
